* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'MedievalSharp', cursive;
}

#navbar {
    background-image: url("./images/navbar-img.jpg");
    background-size: cover;
    height: 31.25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.navbar-text {
    padding: 0.31em 1.25em;
    border-radius: 30px;
}

#navbar-title {
    background-color: #1D3557;
    margin: 1.875em;
}

#navbar-title:hover, #navbar-description:hover {
    box-shadow: 0px 0px 10px white;
}

#navbar-description {
    width: 25.75em;
    background-color: #457B9D;
}

#main {
    background-color: #F1FAEE;
}

#main-title {
    padding: 1.875em;
    color: #1D3557;
}

#activities {
    display: flex;
    flex-flow: row wrap;
    color: #1D3557;
    justify-content: center;
}

.activity {
    width: 12.5em;
    margin: 1.875em;
    padding-bottom: 1.875em;
}

.activity-img {
    width: 12.5em;
    height: 12.5em;
    border-radius: 50%;
}

.activity-img:hover {
    width: 13.75em;
    height: 13.75em;
}

.activity-title {
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0.625em;
}

.activity-description {
    font-size: 1.125rem;
    padding: 0.625em;
}

#footer-guide {
    width: 30em;
    height: 18.375em;
    background-color: #A8DADC;
    display: flex;
    margin: 3.125em auto;
    padding: 1.875em;
    border-radius: 30px;
    box-shadow: 0px 8px black;
    border: 1px solid black;
}

#footer-guide:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
        transform: translate3d(0, 0, 0);
        perspective: 1000px;
    }
    
@keyframes shake {
    
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-2px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(2px, 0, 0);
    }
}

#footer-img {
    width: 18.75em;
    border-radius: 30px;
}

#footer-title {
    font-weight: bold;
    padding-bottom: 1.25em;
}

#footer-name {
    padding-top: 0.9375em;
}

@media (max-width: 600px) {
    .container {
        width: 50%;
        max-width: 400px;
    }
    #navbar-description{
        width: 10em;
    }
}